$primarytextcolor: rgb(59, 59, 119);
;
$bullets: red;
$pfontsize: 25px;
$mobileheight: 300px;

.navbar {
    background: url("../img/Dp.png");
    position: fixed;
    width: 100%;
    z-index: 1;


    .logo {
        color: rgb(83, 83, 161);
        z-index: 2;
        font-family: 'Arizonia', cursive;
        font-size: 30px;

    }

    .nav-link {
        color: rgb(83, 83, 161);

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        padding: 15px;
        color: $primarytextcolor;
    }
}

.first-section {
    background: url("../img/Dp.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;

    .jumbocontent {
        position: absolute;
        margin-top: 70px;
        color: white;


        h2 {
            color: white;
            text-shadow: 1px 3px 0 rgb(83, 83, 161), 1px 3px 5px rgb(83, 83, 161);
            ;
        }

        p {
            margin-left: 100px;
            font-size: $pfontsize;

            i {
                color: $bullets;
            }
        }

        ul {
            list-style-type: none;
            margin-left: 150px;
            padding: 0;
        }

        li {
            display: inline;
            padding: 5px;
            font-size: $pfontsize;
            color: white;
        }

    }
}

.smintro {
    color: $primarytextcolor;
    font-size: $pfontsize;
}

.sec-section {
    height: $mobileheight;

    img {
        width: 50%;
        padding-bottom: 3px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;

    }

    figure {
        background: white !important;
    }

    figcaption {
        background-color: rgba(0, 0, 0, 0.6) !important;
        color: white;
        width: 50%;

        h3,
        h4 {
            font-size: 50%;
        }
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .nav-link {
        color: white !important;
    }

    .first-section {
        height: 500px;

        .jumbocontent {
            position: absolute;
            right: 0;
            margin-right: 20px;

        }
    }

    .smintro {
        margin: 0 auto;
        font-size: 30px;
        text-align: center;
        width: 80%;
    }

    .sec-section {
        color: $primarytextcolor;

        iframe {
            width: 460px;
            height: 315px;
        }

        .retrogames {
            font-size: 30px;

        }

        img {
            width: 100%;
            padding-bottom: 3px;
        }

        figure {
            background: white !important;
        }

        figcaption {
            background-color: rgba(0, 0, 0, 0.6) !important;
            color: white;
            width: 100%;

            h3,
            h4 {
                font-size: 100%;
            }
        }

    }

}